page-car-info {
    .userImage {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    .icon-car {
        color: #dc713d;
        line-height: 75px;
    }
    .botder-bottom {
        border-bottom: solid 1px #dc713d;
        height: 40px;
    }
}